{{!-- <h1>Register Page</h1>
<form action="/register/add" method="post">
  <span class="input"></span>
  <input type="text" name="name" placeholder="Full name" title="Format: Xx[space]Xx (ör: Talip ÇAKIR)" autofocus autocomplete="off" required pattern="^\w+\s\w+$" />
  <span class="input"></span>
  <input type="email" name="email" placeholder="Email address" required />
  <span id="passwordMeter"></span>
  <input type="password" name="password" id="password" placeholder="Password" title="En az 8 karakter. En az bir BÜYÜK HARF ve bir küçük harf" required pattern="(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>

  <button type="submit" value="Sign Up" title="Submit form" class="icon-arrow-right"><span>Sign up</span></button>
</form> --}}
<h1>Register Page</h1>
<form action="/register/add" method="post">
  <span class="input"></span>
  <input type="text" name="name" placeholder="Full name" title="Format: Xx[space]Xx (ör: Talip ÇAKIR)" autofocus autocomplete="off" required pattern="^\w+\s\w+$" />
  <button type="submit" value="Sign Up" title="Submit form" class="icon-arrow-right"><span>Sign up</span></button>
</form>